.col {
	margin: 20px;
}

body{
	background-image: url("campie3.jpg");
	text-align: center;
	background-size: cover;
}

.container{
	background: rgba(0, 0, 0, 0.5);
}

.mainDiv{
	padding: 30px;
}
#scorulmeu{
	font-size: 100px;
}
.scor{
	color: white;
	font-size: 30px;
}
#imgrez {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}
