
table{
	margin: 0 auto;
    width: 700px;
    height: 600px;
    border-collapse: collapse;
}

.home{
    height:60px;
    width:70px;
}

td {
    margin: 0;
    padding: 0;
    border: 1px solid black;
	width: 25%;
    height: 25%;
	align-content: center;
	text-align: center;
	color: white;
    background-color: white;
    background-size: 175px 155px;
    
}
img{
    width: 175px;
    height: 155px;
}

body{

    background-image: url("sources/backgroud.jpg");
    background-repeat: no-repeat;
    opacity: 0.9;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

