.container {
	background: rgba(0, 0, 0, 0.5);
}
.divspatiu {
    height: 30px;
}

/*#imgrezultat{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}*/

.hidden {
display: none;
}

.bord{
	border: 5px groove gray;
}

.divrez{
	padding: 70px;
}

body{
	color: white;
	/*background-image: url("pictures/desert.jpg");*/
	height: 100%;
	position: relative;
	background-size: cover;
	/* overflow: hidden; */
	color: white;
}